/* сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--brand-black);
}

a:visited {
  text-decoration: none;
  text-decoration-line: none;
    text-decoration-thickness: none;
    text-decoration-style: none;
    text-decoration-color: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}



/* root  */
:root {
  --brand-color: #2196f3;
  --brand-black: #212121;
  --brand-grey: #757575;
  --main-font-weight: 700;
  --dark-background: #2f303a;
}



.conteiner {
  width: 1200px;
  margin: 0 auto;
  
}

/* задаем шрифт , цвет и размер всему тексту */
.body {
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: var(--main-font-weight);
  color: var(--brand-black);
}

.body ul {
  list-style-type: none;
}

/* убираем декорацию при посещении */
.body a:visited {
  text-decoration: none;
  color: none;
}

/* убираем декорацию для всех ссылок */
.body a {
  text-decoration: none;
}

/* Задаём размер заголовка "чем мы занимаемся" */
.body h2 {
  font-size: 36px;
  text-align: center;
}

/* задаем размер заголовков "наши приемущества"  */
.body h3 {
  font-size: 14px;
}



/* Стили header */

/* задаёт стиль текста в навигации */

.header {
  border-bottom-width: 1px;
  border-bottom-color:rgba(236, 236, 236, 1);
  border-bottom-style: solid;

}

.heder_nav {
   display: flex;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-black);
}

/* Логотип  */
/* задает логотипу шрифт и размер */
.header_logo {
    width: 160px;
  padding-left: 15px;
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 26px;
  color: var(--brand-color);
}



/* Цвет "WEB" */
.logo {
  color: #2196f3;
}
/* цвет "STUDIO" вверху */
.header_span {
  color: var(--brand-black);
}

/* цвет "STUDIO" внизу */



.navigation {
  margin-top: 32px;
  margin-bottom: 32px;
}


/* Стиль ссылок  в навигации ПЕРЕНЕСТИ */

.navigation_list {
  display: flex;
 width: 294px;
 justify-content: space-between;
 padding: 0px;
 color: var(--brand-black);
  text-decoration: none;
}

.navigation_link {
  position: relative;
  text-decoration: none;
  color: var(--brand-black);
}


.navigation_link:hover,
.navigation_link:focus {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_link--current {
  color: var(--brand-color) !important;
}

.navigation_link--current::after {
  position: absolute;
  content: "";
  display: block;
  left: 0%;
  top: 45.5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  

}


/* Стили контактов */


.contacts {
  display:flex;
   margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 305px;

 
}




.contacts_list {
  display: flex;
  padding: 0%;
 
}


.contacts_item ,
.contacts_item {
  color: var(--brand-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.contacts_item--left {
  display:flex;
  align-items: center;
  padding: 10px 0px 10px 10px;
}

.contacts_item--right {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
}




.contacts_smatphone {
  fill: var(--brand-grey);
  height: 16px;
  width: 10px;
  margin-right: 10px;
}

.contacts_envelope {
 fill: var(--brand-grey);
 width: 16px;
 height: 12px;
 margin-left: 30px;
 margin-right: 10px;
 }

.contacts_item:hover ,
.contacts_item:focus {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts_item--left:hover .contacts_smatphone ,
.contacts_item--left:focus .contacts_smatphone,
.contacts_item--right:hover .contacts_envelope ,
.contacts_item--right:focus .contacts_envelope {
  fill: var(--brand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*  */





/* блок героя */
.hero {
  background-image:
   linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
   url(../images/img-background.jpg);
  background-color: var(--dark-background);
  height: 600px;
  width: 1600px;
  margin: 0% auto;
  background-position: center;
 
}

/* Титульный текст */
.hero_title {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 200px;
  color: white;
}

/*  стиль кнопки "заказать услугу" */
.hero_button {
  background-color: var(--brand-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-left: 500px;
  margin-top: 30px;
  border: 0;
}




/* Секция приемущества */


.advantage  {
  margin-top: 94px;
}

.advantage_list {
  display: flex;
  gap: 30px;
  text-align: left;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0%;

}


.advantage_tittle {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 700;
}

.advantage_item {
  width: 270px;

}


.advantage_text {
   font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 1.7 ;

}

.advantage_svg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}


/* стиль основного  текста и секиции "чем мы занимаемся"   */


.WhatWeDo_tittle {
margin-top: 94px;
margin-bottom: 94px;
}

.WhatWeDo_list {
  display: flex;
  gap: 30px;
  padding-top: 50px;
  padding-left: 15px;
}


/* Чем мы занимаемся ТУМБЫ */

.WhatWeDo_item>img {
  display: block;
}

.WhatWeDo_item {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.WhatWeDo_label {
  position: absolute;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #f5f4fa;
  text-transform: uppercase;
  text-align: center;
  
}


/* Фон секции "наша команда" */
.team {
  background-color: #f5f4fa;
}

/* размер текста "наша команда" */
.team_tittle {
  font-size: 36px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.team_list {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  gap: 30px;
  
}

.team_item {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow:
   0px 1px 3px 0px rgb(0, 0, 0 , 0.12),
   0px 1px 1px 0px rgb(0, 0, 0 , 0.14),
   0px 2px 1px 0px rgb(0, 0, 0 , 0.20);

}

.PersonalContacts_list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 0%;
  padding-bottom: 32px;
  

}

.PersonalContacts_svg {
  height: 44px;
  width: 44px;
}


/* Задаёт стиль именам людей и специализации */
.team_name  {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}


.team_specialization {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  color: var(--brand-grey);
}


/* стили персональных ссылок  */
.PersonalContacts_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill:rgba(175, 177, 184, 1);
}

.PersonalContacts_link:hover,
 .PersonalContacts_link:focus {
background-color: var(--brand-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PersonalContacts_link:hover .PersonalContacts_svg,
.PersonalContacts_link:focus .PersonalContacts_svg {
fill: #f5f4fa;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




 /* Наши клиенты секция */

.clients_tittle{
  margin-top: 94px;
  margin-bottom: 50px;
}


.clients_list {
  display: flex;
  padding: 0%;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: 94px;
}



.clients_svg {
  height: 90px;
  width: 170px;
  fill:rgba(175, 177, 184, 1);;
  border: 20px 63px ;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(175, 177, 184, 1);
  border-radius: 4px;
  
}


.clients_svg:hover,
.clients_svg:focus {
  border-color: var(--brand-color);
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}






/* Футер */

.footer {
  background-color: var(--dark-background);
  
}



.address {
  display: flex;
}

.address_list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 9px;
  padding-bottom: 60px;

}

.address_logo {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 26px;
  color: var(--brand-color);
}

.address_span {
  color: white;
}

.address_direction {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.address_contacts {
  text-decoration: none;
  color: var(--brand-grey);
}

.address_contacts:hover ,
.address_contacts:focus {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Социальные сети студии */
.StudioContacts {
  margin-left: 70px;
  margin-top: 72px;
}

.StudioContacts_title {
  font-weight: 700;
  color: #f5f4fa;
  text-transform: uppercase;
  padding-left: 10px;
  padding-bottom: 20px;
}

.StudioContacts_list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 0%;
  padding-bottom: 32px;
}

.StudioContacts_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(175,	177 ,	184, 0.1);
  fill: white;
}

.StudioContacts_svg {
  height: 44px;
  width: 44px;
}




.StudioContacts_link:hover,
.StudioContacts_link:focus {
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

  /* футер форма */

  .distribution {
  margin-top: 72px; 
  margin-left: 93px;
  color: white;
  }

  .distribution_text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.1px;
  }

  .distribution_form {
   display: flex;
   margin-top: 20px;
  }





  .distribution_input {
    width: 358px;
    height: 50px;
    outline: none;
    padding-left: 16px;
    margin-top:0px;
    background-color: var(--dark-background);
    color: var(--brand-color);
    border: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-radius: 4px;
  }


  .distribution_input:hover,
  .distribution_input:focus {
   border-color: var(--brand-color);
  }

  .distribution_button {
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 29px;
    padding-top: 16px;
    color: #f5f4fa;
    background-color: var(--brand-color);
    border-radius:4px ;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .button_text {
    font-weight: 700;
    font-size: 16px;
  }


  .button_svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
  }

/* Модальное окно */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);

}


.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal_close {
  top:8px;
  left: 25px;
  z-index: 4;
  cursor: pointer;
 
}

.modal_svg {
  fill:var(--brand-black);
  position: absolute;
  left: 490px;
  top:8px;
  width: 11px;
  height: 11px;
  padding-left: 10px;
  width: 30px;
  height: 30px;
   border: 1px;
   padding-top: 9px;
   padding-left: 9px;
  border-style:solid ;
  border-radius: 14px;
  border-color: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_svg:hover,
.modal_svg:focus {
fill: var(--brand-color);
}



/* Форма ЗАКАЗАТЬ УСЛУГУ */

/* Инпуты юзердата */

.userdata {
  display: flex;
  width: 100%;
  height: 100%;
    }


.userdata_group{
  display: flex;
  flex-direction: column;
  border: 0;
  padding-left: 41px;
  padding-right: 39px;
}




.userdata_title {
font-family: Roboto, Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: center;
padding-top: 40px;
}

.userdata_label--first {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 12px;

}


.userdata_label{
   position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  color:rgba(117, 117, 117, 1) ;
}





.userdata_label:hover > .userdata_icon,
.userdata_label:focus-within > .userdata_icon{
  fill:var(--brand-color);
}

.userdata_label:hover > .userdata_input,
.userdata_label:focus-within > .userdata_input{
  border-color: var(--brand-color);
}

.userdata_text{
  padding-bottom: 4px;
}

.userdata_input {
  font-size: 16px;
  height: 40px;
  width: 448px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color :rgba(117, 117, 117, 1); 
  cursor: pointer;
  text-indent: 39px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.userdata_input:focus {
  border-style: solid;
  border-width: 1px;
  border-color: var(--brand-color);
  outline: none;
    
}



.userdata_icon {
  fill: var(--brand-black);
  position: absolute;
  top: 39px;
  left: 15px;                                   
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  

/* Инпут комментарий */

  .userdata_textarea {
    height: 120px;
    resize: none;
    padding: 16px 12px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

   
  .userdata_textarea:focus {
  border-style: solid;
  border-width: 1px;
  outline: none;
   }

 .userdata_label:hover > .userdata_textarea,
 .userdata_label:focus-within > .userdata_textarea {
  border-color: var(--brand-color);
 }




/* Чекбокс */

.checkbox {
  margin-top: 20px;
  margin-left: 12px;
}


.checkbox_text {
  position: absolute;
  padding-left: 24.38px;
  font-weight: 400;
  font-size: 14px;
  color: var(--brand-grey);
}


.checkbox_agreement {
  padding-left: 4px;
  color: var(--brand-color);
  line-height: 2px;
  text-decoration: underline var(--brand-color) !important;

}

.checkbox_input{
  position: absolute;
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  }

  .checkbox_input:focus + .checkbox_castom,
  .checkbox_input:hover + .checkbox_castom,
  .checkbox_input:checked + .checkbox_castom  {
  border-color: var(--brand-color);
  }

.checkbox_castom {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--brand-black);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 outline: none;
}


.checkbox_input:checked + .checkbox_castom {
  background-image: url(../images/icon-checked.svg);
  background-position: center;
  border: none;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Кнопка отправить */

.userdata_button {
 margin-top: 30px;
 margin-left:124px;
 width: 200px;
 height: 50px;
 border: 0;
 border-radius: 4px;
 background-color: var(--brand-color);
 color: #f5f4fa;
 font-size: 16px;
 font-weight: 700;
 letter-spacing: 0.06em;
 cursor: pointer;
 box-shadow: 
   0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }




/* стили партфолио */

/* Секция Фильтр */

.filter {
  margin-top: 94px;
  padding-bottom: 94px;
}

.filter_buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}




.filter_button {
  padding: 6px 22px 6px 22px;
  color: var(--brand-black);
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
}


.filter_button:hover ,
.filter_button:focus {
  color: white;
  background-color: var(--brand-color);
  box-shadow:
  0px 2px 2px 0px rgb(0, 0, 0 , 0.12),
   0px 1px 2px 0px rgb(0, 0, 0 , 0.08),
   0px 3px 1px 0px rgb(0, 0, 0 , 0.10);
   transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }


  /* Блок Проекты */



  .project {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0%;
  gap: 30px;
  

}


.project_card:hover .project_overley {
  transform: translateY(0) ;
  
}

.project_card:hover,
.project_card:focus {
box-shadow:
1px 4px 6px 0px rgb(0, 0, 0 , 0.16),
   0px 4px 4px 0px rgb(0, 0, 0 , 0.06),
   0px 1px 1px 0px rgb(0, 0, 0 , 0.12);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    


}

.project_item {
    position: relative;
    overflow: hidden;
}

.project_img {
  display: block;
  width: 370px;
  height: 294px;

}

.project_overley {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px ;
  background-color: var(--brand-color);
  bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #f5f4fa;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}





.project_base {
  height: 110px;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;

  border-left-style: solid;
  border-left-color: rgba(238, 238, 238, 1);
  border-left-width: 1px;

  border-right-style: solid;
  border-right-color: rgba(238, 238, 238, 1);
  border-right-width: 1px;

  border-bottom-style: solid;
  border-bottom-color: rgba(238, 238, 238, 1);
  border-bottom-width: 1.6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.project_name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.project_specialization {
  padding-top: 12px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--brand-grey);
}




 





















